*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../imag/fondo.jpg');
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-position-y: -500px; 
}



.logo{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: -5px;
}

#menu{
    background: rgb(13, 3, 61);
    height: 60px;
}

ul{
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    
}

li{
    list-style: none;
    display: inline-block;
    background: rgb(109, 124, 109);
    border-radius: 50px;
    
    width: 150px;
    height: 10px;
    
}

li:hover{
    background: rgb(31, 211, 235);
    border-radius: 50px;
    width: 150px;
    height: 10px;  
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 20px; 
    margin-left: 20px;
      
}

a:hover{
    color: rgb(81, 255, 0);  
}

.linea{
    margin-top: 20px;
    background: cyan;
    height: 5px;
}

.titulo{
    color: cornsilk;
    font-size: 30px;
    text-align: center;
    
}

.sub1{
    color: rgb(84, 240, 11);
    
}



.linea1{
    margin-top: 10px;
    background: cyan;
    height: 5px;
}


.cuadro{
    text-align: center;
    background: rgb(13, 3, 61);
    padding: 10px;
    margin-top: 220px;
    height: 190px;
    
}
.mini{
    background: darkcyan;
    display: inline-flex;
    padding: 10px;
    
}

.su{
    background: darkcyan;
}
.h{
    color: rgb(3, 3, 71);
    font-weight: bold;
    margin: 3px;
}

footer{
    background: rgb(12, 106, 129);
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    
}
footer :hover{
    color: rgb(221, 191, 22);
}

.pa1{
    color: greenyellow;
    padding: 10px;
}
.pa{
    color: white;
   padding-bottom: 10px;
   text-align: justify;
}



